include LICENSE
include README.md
include README.rst
include tests/README.md
include examples/README.md
include tests/requirements.txt
include requirements.txt
include Makefile
recursive-include docs *